#home-guest {
    background-image: url('https://images-ext-2.discordapp.net/external/bWpsvgOXfP0z6nTxqf9SaFSu8MCdOJhPXiIUjZBz9x4/https/img.freepik.com/fotos-premium/resumen-borroso-cafeteria-cafeteria-restaurante-fondo_1339-170592.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;

    a {
        color: white;
    }
}

#navbar {
    .img {
        height: 80px;
    }

}